@import url(./globals.css);

body {
  margin: 0%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "video chat";
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.video-webcam {
  width: 50%;
  aspect-ratio: 16/9;
  place-self: center;
  max-width: 720px;
  max-height: 440px;
  border-radius: 30px;
}

.video-participants {
  width: 50%;
  height: 100%;
  position: relative;
}

.video-participant-layout {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.participant {
  width: 200px;
  text-align: center;
}

.participant-video {
  width: 100%;
  aspect-ratio: 16/9;
}

.participant-video video {
  height: 100%;
  border-radius: 20px;
}

.participant-name {
  height: 25%;
  display: grid;
  place-items: center;
}

.chat-container {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto;
  width: 350px;
  padding: 20px;
  background-color: #f5f7fb;
  border-radius: 15px;
}

.chat-messages {
  height: 100%;
}

.chat-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.chat-textarea {
  width: 100%;
  height: 3rem;
  padding: 10px 20% 10px 10px;
  margin: 0;
  resize: none;
  border: 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
}

.chat-input button {
  height: 80%;
  width: 3rem;
  position: absolute;
  right: 2%;
  outline: none;
  border: none;
  background-color: #ffcc1a;
  border-radius: 10px;
}

.chat-input button:active {
  background-color: #d8ae16;
}

.chat-input button img {
  width: 20px;
  height: 20px;
}
