@import url("./globals.css");

body {
  /*   background-image: url("../static/tmchat-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

#container {
  width: 100%;
}

.participant video {
  width: 50%;
  height: auto;
}
